/*===================
   custom properties
  ===================*/
:root {
    --bg-color: #ddd;
    --link-color: #444;
    --link-focus-bg: #ccc;
    --sans-serif-font: Roboto, Ubuntu, "Liberation Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
    --serif-font: Georgia, serif;
}

/*======================
   grid + media queries
  ======================*/

@media screen and (min-aspect-ratio: 3 / 4){
    @supports (display: grid) {
        #grid {
            display: grid;
            grid-template-areas:
                    "header header header"
                    " main   main   main "
                    "footer footer footer";
        }
        header { grid-area: header; }
        main { grid-area: main; }
        footer { grid-area: footer; }
    }
}

@media screen and (max-aspect-ratio: 3 / 4){
}

/*===================
    general layout
  ===================*/

body {
    margin: 0;
    font-family: var(--sans-serif-font);
}

main {
    margin: 0 2%;
}

h2,
h3  {
    text-align: center;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    display: inline-block;
    text-align: center;
}

footer {
    background-color: var(--link-focus-bg);
    padding: 1rem 0;
}

footer p {
    text-align: center;
}

footer ul {
    margin: 0 20%;
}


/*===================
        navbar
  ===================*/

.icon {
    background:url('fridge.svg') no-repeat left;
    width: 20%;
    height: 100%;
    background-size:contain;
    vertical-align: baseline;
    font-size: 100%;
    display: inline-block;
    text-indent: -9999em;
}

/* credz: https://jsfiddle.net/joshnh/srNVQ/ */
header {
    position: sticky;
    top: 0;
}
nav ul {
    background: var(--bg-color);
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    /*text-align: left;*/
    width: 100%;

}
nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 10%;
}
nav a {
    background: var(--bg-color);
    color: var(--link-color);
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
nav .dropdown:after {
    content: ' \25bc';
}
nav li:hover a,
nav li a:focus {
    background: var(--link-focus-bg);
    outline: none;
}
nav li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    width: 100%;
}
nav li ul a:hover {
    background: #bbb;
}